.main-content {
  position: relative;

  &__box {
    // min-height: 70vh;
    width: 100%;
    position: relative;
    background-color: $color-white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 3rem;
    .heading-secondary {
      @include respond(phone) {
        margin-bottom: 0.5rem;
        line-height: 30px;
      }
    }

    .pr-0 {
      @include respond(phone) {
        padding-right: 15px !important;
      }
    }

    &--inner-wrapper,
    &--header,
    &--footer {
      padding: 1.2rem;
    }
    &--inner-wrapper {
      width: 100%;
      .heading-secondary {
        @include respond(phone) {
          margin-bottom: 0.5rem;
          line-height: 30px;
        }
      }
      .form__box {
        height: 9rem;

        // @include respond(phone) {
        //   height: 9rem;
        // }
      }
      .react-datepicker-wrapper {
        width: 100%;
      }
    }
    &--header {
      border-radius: 4px 4px 0px 0px;
      background-color: $color-content-light;
    }
    &--body {
      //padding: 0 1.2rem;
      h2 {
        margin: 0;
      }
      .btn__link.danger {
        margin: 0;
      }
      span {
        margin-left: 0.5rem;
      }
      .form__span {
        left: 68%;
      }
      .text-area {
        background-color: #f9fafb;
        color: #111827;
        font-size: 14px;
        padding: 1.2rem;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #d1d5db;
        width: 100%;
        &:focus {
          outline: none;
          padding: 1.1rem;
          border: 2px solid #6b7280;
          border-radius: 4px;
        }
      }
      .form__box {
        height: 9rem;
      }
    }
    &--footer {
      background-color: $color-white;
      border-radius: 0px 0px 4px 4px;
    }
    .hr-main {
      border: 0;
      height: 1px;
      background-color: #d1d5db;
      margin-bottom: 0;
    }

    // .search__icon {
    //   width: 20px;
    //   height: 30px;
    //   fill: #000000;
    // }
  }
  &__search-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem;
    .react-datepicker-wrapper {
      width: 60%;
      @include respond(tab-port) {
        margin-top: 1rem;
      }
      @include respond(phone) {
        width: 100%;
        // margin-right: 1rem;
      }
    }
    .react-datepicker-wrapper:first-of-type {
      margin-right: 1.5rem;
      @include respond(phone) {
        margin-right: 1rem;
      }
    }
    .search {
      width: 100%;
      display: flex;
      align-items: center;
      &__input {
        background-color: $color-background-input;
        width: 100%;
        padding: 1rem 4rem;
      }
    }
    .select,
    .date-select {
      background-color: $color-background-input;
      color: $color-text-dark;
      font-size: $font-size-default;
      padding: 1rem;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      border: 1px solid $border-input-lines;
      width: 100%;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }
    .select {
      margin-left: 2rem;
      width: 25%;
    }
  }
}
#main-content {
  // position: absolute;
  left: 0rem;
  transition: left 0.2s linear;
}
