.main-content {
  position: relative;
  
  &__box {
    min-height: 70vh;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 8rem;

    // .search__icon {
    //   width: 20px;
    //   height: 30px;
    //   fill: #000000;
    // }
  }
  &__search-wrapper {
    padding: 1.5rem;
    .search {
      width: 100%;
      &__input {
        background-color: $color-background-light;
        width: 100%;
      }
    }
  }
}
