// Color themes
$themes: (
  default: #6B7280,
  red: #DC2626,
  yellow: #D97706,
  green: #059669,
  blue: #2563EB,
  indigo: #4F46E5,
  purple: #7C3AED,
  pink: #DB2777
);

@mixin theme($name, $color) {
    .#{$name} {
      .element {
        color: $color;
      }
      
      .other-element {
        background: $color;
      }
    }
  }