.form {
  position: relative;
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__box {
    position: relative;
    background-color: $color-white;
    color: $color-text-dark;
    font-size: $font-size-default;
    padding: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid $border-input-lines;
    width: 100%;
    h2 {
      position: absolute;
      bottom: 1rem;
      margin-bottom: unset;
    }
  }

  &__area {
    width: 100%;
    position: relative;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
      &:focus{
        outline: none;
      }
    }
    .file-dummy {
      width: 100%;
      padding: 3rem;
      border-radius: 4px;
      background-color: $color-content-light;
      border: 2px dashed $border-input-lines;
      text-align: center;
      transition: background 0.3s ease-in-out;

      .success {
        display: none;
      }
    }

    &:hover .file-dummy {
      background-color: $color-content-light;
    }

    input[type="file"]:focus + .file-dummy {
      outline: 2px solid rgba(255, 255, 255, 0.5);
      outline: -webkit-focus-ring-color auto 5px;
    }

    input[type="file"]:valid + .file-dummy {
      border-color: rgba(0, 255, 0, 0.4);
      background-color: rgba(0, 255, 0, 0.3);

      .success {
        display: inline-block;
      }
      .default {
        display: none;
      }
    }
  }
 
  // input[type="checkbox"]{
  //   border: 1px solid violet;
  // }
  &__input {
    background-color: $color-content-light;
    color: $color-text-dark;
    font-size: $font-size-default;
    padding: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid $border-input-lines;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
      padding: .9rem;
      border: 2px solid $color-text-light;
      border-radius: 4px;
    }

    //   &:focus:invalid {

    //   }

    //   &::-webkit-input-placeholder {

    //   }
  }
  &__span{
    position: absolute;
    top: .7rem;
    left: 41%;
    color: $color-text-light;
    background-color: $color-content-light;

    @include respond(tab-land){
      top: .5rem;
      left: unset;
      right: 6rem;
    }
  }
  &__label {
    font-size: $font-size-default;
    margin-bottom: 0.7rem;
    display: block;
    transition: all 0.3s;
  }
  //   &__input:placeholder-shown + &__label {
  //     opacity: 0;
  //     visibility: hidden;
  //     transform: translateY(-4rem);
  //   }

  &__checkbox-groups-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include respond(tab-land){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__checkbox-group{
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  &__checkbox{
    position: absolute;
    opacity: 0;
    // width: 1.5rem;
    // height: 1.5rem;
    // border-radius: 4px;
    // border: 1px solid $border-input-lines;
    // background-color: $color-content-light;
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      &:focus{
        outline: none;
      }
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $color-content-light;
      border-radius:4px;
      border:1px solid $border-input-lines;
      
    }
  //   // Box focus
  // &:focus + label:before {
  //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  // }

  // Box checked
  &:checked + label:before {
    background: $color-link-dark;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 12px;
    background: $color-white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0  $color-white,
      4px 0 0  $color-white,
      4px -2px 0  $color-white,
      4px -4px 0  $color-white,
      4px -6px 0  $color-white,
      4px -8px 0  $color-white;
    transform: rotate(45deg);
  }
  }
  // &__checkbox-label{
  //   margin-left: .7rem;
  // }
  &__radio-group {
    margin: 1rem 0;
  }
  &__radio-input {
    display: none;
  }
  &__radio-label {
    font-size: $font-size-default;
    cursor: pointer;
    position: relative;
    padding-left: 2.5rem;
  }
  &__radio-button {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid $border-input-lines;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-white;
      border: 6px solid $color-link-light;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__footer{
    display: flex;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
    background-color: $color-content-light;
  }
  hr{
    margin: 2.5rem 0;
  }

  &__map {
    width: 100%;
    height: 30rem;
    border-radius: 4px;
    border: 1px solid $border-input-lines;
  }
}
