.sidebar-badge {
  position: absolute;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-hover;
  border-radius: 18px;
  color: $color-text-dark;
  font-size: 11px;
  height: 25px;
  padding: 2px 8px;
  transition: background-color 0.1s ease-in-out;

  @include respond(tab-land) {
    right: -1.5rem;
    top: 0;
    background-color: rgba($color-background-dark, 0.6);
    color: $color-background-light;
  }
  .pro {
    color: rgba($color-text-dark, 0.7) !important;
  }
}
