.table-wrapper {
  display: flex;
}
.table {
  width: 100%;
  border-collapse: collapse;

  .img-round {
    @include respond(phone) {
      display: none;
    }
  }
}
tbody {
  tr {
    cursor: pointer;

    @include respond(phone) {
      border-bottom: 1px solid $color-content-lines;
    }
  }
  .active {
    background: $color-content-light;
  }
}
th {
  background-color: $color-content-light;
  color: white;
  font-weight: 500;
  span {
    display: flex;
    flex-direction: column;
    .desc {
      font-size: 10px;
    }
    .asc {
      font-size: 10px;
      transform: rotate(180deg);
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: none;
    //color: white;
    outline: none;
    cursor: pointer;
  }
  input {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    outline: none;
  }
}
td {
  padding: 2rem 1.5rem;

  @include respond(phone) {
    display: block;
    padding: 0.5rem 1.5rem;
  }
}
th {
  padding: 1.5rem;
  @include respond(phone) {
    display: none;
  }
}
th:first-child {
  width: 35%;
  @include respond(tab-land) {
    width: 40%;
  }
  @include respond(phone) {
    display: block;
    width: 100%;
  }
}
th:last-child {
  width: 20%;
  text-align: right;

  @include respond(tab-land) {
    width: 15%;
  }
}
td,
th {
  border-bottom: 1px solid $color-content-lines;
  text-align: left;
  @include respond(phone) {
    border-bottom: none;
  }
}
td:last-child {
  text-align: right;
  padding-bottom: 2rem;
}
td:first-child {
  @include respond(phone) {
    padding-top: 2rem;
  }
}
.inner-td-wrapper {
  display: flex;
  align-items: center;
}
.td-title {
  margin-left: 2rem;
  p {
    display: flex;
    i {
      display: flex;
      align-self: flex-end;
    }
  }

  @include respond(phone) {
    margin-left: unset;
  }
}
