$themes: (
  default: (
    primaryBtnBgColor: $blue-600,
    primaryBtnTextColor: $blue-50,
    primaryBtnTextColorHover: $blue-100,
    primaryBtnBgColorHover: $blue-500,
    iconColorLight: $blue-100,
    iconColorLightHover: $blue-300,
    dropdownBgColor: $blue-300,
    dropdownBgColorHover: $blue-600,
    dropdownTextColor: $blue-50,
    dropdownTextColorHover: $blue-100,
    profileBgHover: $blue-500,
    profileTextHover: $blue-100,
    btnLightColor: $blue-300,
    menuItemBgColorHover: $blue-400,
    menuItemTextColorHover: $blue-100,
    menuItemIconColorHover: $blue-200,
    menuItemBgColorActive: $blue-600,
    menuItemTextColorActive: $blue-50,
    menuItemIconColorActive: $blue-300,
    menuBadgeBgColor: $blue-200,
    menuBadgeTextColor: $blue-600,
  ),
  blueGray: (
    primaryBtnBgColor: $blueGray-600,
    primaryBtnTextColor: $blueGray-50,
    primaryBtnTextColorHover: $blueGray-100,
    primaryBtnBgColorHover: $blueGray-500,
    iconColorLight: $blueGray-100,
    iconColorLightHover: $blueGray-300,
    dropdownBgColor: $blueGray-300,
    dropdownBgColorHover: $blueGray-600,
    dropdownTextColor: $blueGray-50,
    dropdownTextColorHover: $blueGray-100,
    profileBgHover: $blueGray-500,
    profileTextHover: $blueGray-100,
    btnLightColor: $blueGray-300,
    menuItemBgColorHover: $blueGray-400,
    menuItemTextColorHover: $blueGray-100,
    menuItemIconColorHover: $blueGray-200,
    menuItemBgColorActive: $blueGray-600,
    menuItemTextColorActive: $blueGray-50,
    menuItemIconColorActive: $blueGray-300,
    menuBadgeBgColor: $blueGray-200,
    menuBadgeTextColor: $blueGray-600,
  ),
  coolGray: (
    primaryBtnBgColor: $coolGray-600,
    primaryBtnTextColor: $coolGray-50,
    primaryBtnTextColorHover: $coolGray-100,
    primaryBtnBgColorHover: $coolGray-500,
    iconColorLight: $coolGray-100,
    iconColorLightHover: $coolGray-300,
    dropdownBgColor: $coolGray-300,
    dropdownBgColorHover: $coolGray-600,
    dropdownTextColor: $coolGray-50,
    dropdownTextColorHover: $coolGray-100,
    profileBgHover: $coolGray-500,
    profileTextHover: $coolGray-100,
    btnLightColor: $coolGray-300,
    menuItemBgColorHover: $coolGray-400,
    menuItemTextColorHover: $coolGray-100,
    menuItemIconColorHover: $coolGray-200,
    menuItemBgColorActive: $coolGray-600,
    menuItemTextColorActive: $coolGray-50,
    menuItemIconColorActive: $coolGray-300,
    menuBadgeBgColor: $coolGray-200,
    menuBadgeTextColor: $coolGray-600,
  ),
  gray: (
    primaryBtnBgColor: $gray-600,
    primaryBtnTextColor: $gray-50,
    primaryBtnTextColorHover: $gray-100,
    primaryBtnBgColorHover: $gray-500,
    iconColorLight: $gray-100,
    iconColorLightHover: $gray-300,
    dropdownBgColor: $gray-300,
    dropdownBgColorHover: $gray-600,
    dropdownTextColor: $gray-50,
    dropdownTextColorHover: $gray-100,
    profileBgHover: $gray-500,
    profileTextHover: $gray-100,
    btnLightColor: $gray-300,
    menuItemBgColorHover: $gray-400,
    menuItemTextColorHover: $gray-100,
    menuItemIconColorHover: $gray-200,
    menuItemBgColorActive: $gray-600,
    menuItemTextColorActive: $gray-50,
    menuItemIconColorActive: $gray-300,
    menuBadgeBgColor: $gray-200,
    menuBadgeTextColor: $gray-600,
  ),
  trueGray: (
    primaryBtnBgColor: $trueGray-600,
    primaryBtnTextColor: $trueGray-50,
    primaryBtnTextColorHover: $trueGray-100,
    primaryBtnBgColorHover: $trueGray-500,
    iconColorLight: $trueGray-100,
    iconColorLightHover: $trueGray-300,
    dropdownBgColor: $trueGray-300,
    dropdownBgColorHover: $trueGray-600,
    dropdownTextColor: $trueGray-50,
    dropdownTextColorHover: $trueGray-100,
    profileBgHover: $trueGray-500,
    profileTextHover: $trueGray-100,
    btnLightColor: $trueGray-300,
    menuItemBgColorHover: $trueGray-400,
    menuItemTextColorHover: $trueGray-100,
    menuItemIconColorHover: $trueGray-200,
    menuItemBgColorActive: $trueGray-600,
    menuItemTextColorActive: $trueGray-50,
    menuItemIconColorActive: $trueGray-300,
    menuBadgeBgColor: $trueGray-200,
    menuBadgeTextColor: $trueGray-600,
  ),
  warmGray: (
    primaryBtnBgColor: $warmGray-600,
    primaryBtnTextColor: $warmGray-50,
    primaryBtnTextColorHover: $warmGray-100,
    primaryBtnBgColorHover: $warmGray-500,
    iconColorLight: $warmGray-100,
    iconColorLightHover: $warmGray-300,
    dropdownBgColor: $warmGray-300,
    dropdownBgColorHover: $warmGray-600,
    dropdownTextColor: $warmGray-50,
    dropdownTextColorHover: $warmGray-100,
    profileBgHover: $warmGray-500,
    profileTextHover: $warmGray-100,
    btnLightColor: $warmGray-300,
    menuItemBgColorHover: $warmGray-400,
    menuItemTextColorHover: $warmGray-100,
    menuItemIconColorHover: $warmGray-200,
    menuItemBgColorActive: $warmGray-600,
    menuItemTextColorActive: $warmGray-50,
    menuItemIconColorActive: $warmGray-300,
    menuBadgeBgColor: $warmGray-200,
    menuBadgeTextColor: $warmGray-600,
  ),
  red: (
    primaryBtnBgColor: $red-600,
    primaryBtnTextColor: $red-50,
    primaryBtnTextColorHover: $red-100,
    primaryBtnBgColorHover: $red-500,
    iconColorLight: $red-100,
    iconColorLightHover: $red-300,
    dropdownBgColor: $red-300,
    dropdownBgColorHover: $red-600,
    dropdownTextColor: $red-50,
    dropdownTextColorHover: $red-100,
    profileBgHover: $red-500,
    profileTextHover: $red-100,
    btnLightColor: $red-300,
    menuItemBgColorHover: $red-400,
    menuItemTextColorHover: $red-100,
    menuItemIconColorHover: $red-200,
    menuItemBgColorActive: $red-600,
    menuItemTextColorActive: $red-50,
    menuItemIconColorActive: $red-300,
    menuBadgeBgColor: $red-200,
    menuBadgeTextColor: $red-600,
  ),
  orange: (
    primaryBtnBgColor: $orange-600,
    primaryBtnTextColor: $orange-50,
    primaryBtnTextColorHover: $orange-100,
    primaryBtnBgColorHover: $orange-500,
    iconColorLight: $orange-100,
    iconColorLightHover: $orange-300,
    dropdownBgColor: $orange-300,
    dropdownBgColorHover: $orange-600,
    dropdownTextColor: $orange-50,
    dropdownTextColorHover: $orange-100,
    profileBgHover: $orange-500,
    profileTextHover: $orange-100,
    btnLightColor: $orange-300,
    menuItemBgColorHover: $orange-400,
    menuItemTextColorHover: $orange-100,
    menuItemIconColorHover: $orange-200,
    menuItemBgColorActive: $orange-600,
    menuItemTextColorActive: $orange-50,
    menuItemIconColorActive: $orange-300,
    menuBadgeBgColor: $orange-200,
    menuBadgeTextColor: $orange-600,
  ),
  amber: (
    primaryBtnBgColor: $amber-600,
    primaryBtnTextColor: $amber-50,
    primaryBtnTextColorHover: $amber-100,
    primaryBtnBgColorHover: $amber-500,
    iconColorLight: $amber-100,
    iconColorLightHover: $amber-300,
    dropdownBgColor: $amber-300,
    dropdownBgColorHover: $amber-600,
    dropdownTextColor: $amber-50,
    dropdownTextColorHover: $amber-100,
    profileBgHover: $amber-500,
    profileTextHover: $amber-100,
    btnLightColor: $amber-300,
    menuItemBgColorHover: $amber-400,
    menuItemTextColorHover: $amber-100,
    menuItemIconColorHover: $amber-200,
    menuItemBgColorActive: $amber-600,
    menuItemTextColorActive: $amber-50,
    menuItemIconColorActive: $amber-300,
    menuBadgeBgColor: $amber-200,
    menuBadgeTextColor: $amber-600,
  ),
  yellow: (
    primaryBtnBgColor: $yellow-600,
    primaryBtnTextColor: $yellow-50,
    primaryBtnTextColorHover: $yellow-100,
    primaryBtnBgColorHover: $yellow-500,
    iconColorLight: $yellow-100,
    iconColorLightHover: $yellow-300,
    dropdownBgColor: $yellow-300,
    dropdownBgColorHover: $yellow-600,
    dropdownTextColor: $yellow-50,
    dropdownTextColorHover: $yellow-100,
    profileBgHover: $yellow-500,
    profileTextHover: $yellow-100,
    btnLightColor: $yellow-300,
    menuItemBgColorHover: $yellow-400,
    menuItemTextColorHover: $yellow-100,
    menuItemIconColorHover: $yellow-200,
    menuItemBgColorActive: $yellow-600,
    menuItemTextColorActive: $yellow-50,
    menuItemIconColorActive: $yellow-300,
    menuBadgeBgColor: $yellow-200,
    menuBadgeTextColor: $yellow-600,
  ),
  lime: (
    primaryBtnBgColor: $lime-600,
    primaryBtnTextColor: $lime-50,
    primaryBtnTextColorHover: $lime-100,
    primaryBtnBgColorHover: $lime-500,
    iconColorLight: $lime-100,
    iconColorLightHover: $lime-300,
    dropdownBgColor: $lime-300,
    dropdownBgColorHover: $lime-600,
    dropdownTextColor: $lime-50,
    dropdownTextColorHover: $lime-100,
    profileBgHover: $lime-500,
    profileTextHover: $lime-100,
    btnLightColor: $lime-300,
    menuItemBgColorHover: $lime-400,
    menuItemTextColorHover: $lime-100,
    menuItemIconColorHover: $lime-200,
    menuItemBgColorActive: $lime-600,
    menuItemTextColorActive: $lime-50,
    menuItemIconColorActive: $lime-300,
    menuBadgeBgColor: $lime-200,
    menuBadgeTextColor: $lime-600,
  ),
  green: (
    primaryBtnBgColor: $green-600,
    primaryBtnTextColor: $green-50,
    primaryBtnTextColorHover: $green-100,
    primaryBtnBgColorHover: $green-500,
    iconColorLight: $green-100,
    iconColorLightHover: $green-300,
    dropdownBgColor: $green-300,
    dropdownBgColorHover: $green-600,
    dropdownTextColor: $green-50,
    dropdownTextColorHover: $green-100,
    profileBgHover: $green-500,
    profileTextHover: $green-100,
    btnLightColor: $green-300,
    menuItemBgColorHover: $green-400,
    menuItemTextColorHover: $green-100,
    menuItemIconColorHover: $green-200,
    menuItemBgColorActive: $green-600,
    menuItemTextColorActive: $green-50,
    menuItemIconColorActive: $green-300,
    menuBadgeBgColor: $green-200,
    menuBadgeTextColor: $green-600,
  ),
  emerald: (
    primaryBtnBgColor: $emerald-600,
    primaryBtnTextColor: $emerald-50,
    primaryBtnTextColorHover: $emerald-100,
    primaryBtnBgColorHover: $emerald-500,
    iconColorLight: $emerald-100,
    iconColorLightHover: $emerald-300,
    dropdownBgColor: $emerald-300,
    dropdownBgColorHover: $emerald-600,
    dropdownTextColor: $emerald-50,
    dropdownTextColorHover: $emerald-100,
    profileBgHover: $emerald-500,
    profileTextHover: $emerald-100,
    btnLightColor: $emerald-300,
    menuItemBgColorHover: $emerald-400,
    menuItemTextColorHover: $emerald-100,
    menuItemIconColorHover: $emerald-200,
    menuItemBgColorActive: $emerald-600,
    menuItemTextColorActive: $emerald-50,
    menuItemIconColorActive: $emerald-300,
    menuBadgeBgColor: $emerald-200,
    menuBadgeTextColor: $emerald-600,
  ),
  teal: (
    primaryBtnBgColor: $teal-600,
    primaryBtnTextColor: $teal-50,
    primaryBtnTextColorHover: $teal-100,
    primaryBtnBgColorHover: $teal-500,
    iconColorLight: $teal-100,
    iconColorLightHover: $teal-300,
    dropdownBgColor: $teal-300,
    dropdownBgColorHover: $teal-600,
    dropdownTextColor: $teal-50,
    dropdownTextColorHover: $teal-100,
    profileBgHover: $teal-500,
    profileTextHover: $teal-100,
    btnLightColor: $teal-300,
    menuItemBgColorHover: $teal-400,
    menuItemTextColorHover: $teal-100,
    menuItemIconColorHover: $teal-200,
    menuItemBgColorActive: $teal-600,
    menuItemTextColorActive: $teal-50,
    menuItemIconColorActive: $teal-300,
    menuBadgeBgColor: $teal-200,
    menuBadgeTextColor: $teal-600,
  ),
  cyan: (
    primaryBtnBgColor: $cyan-600,
    primaryBtnTextColor: $cyan-50,
    primaryBtnTextColorHover: $cyan-100,
    primaryBtnBgColorHover: $cyan-500,
    iconColorLight: $cyan-100,
    iconColorLightHover: $cyan-300,
    dropdownBgColor: $cyan-300,
    dropdownBgColorHover: $cyan-600,
    dropdownTextColor: $cyan-50,
    dropdownTextColorHover: $cyan-100,
    profileBgHover: $cyan-500,
    profileTextHover: $cyan-100,
    btnLightColor: $cyan-300,
    menuItemBgColorHover: $cyan-400,
    menuItemTextColorHover: $cyan-100,
    menuItemIconColorHover: $cyan-200,
    menuItemBgColorActive: $cyan-600,
    menuItemTextColorActive: $cyan-50,
    menuItemIconColorActive: $cyan-300,
    menuBadgeBgColor: $cyan-200,
    menuBadgeTextColor: $cyan-600,
  ),
  lightBlue: (
    primaryBtnBgColor: $lightBlue-600,
    primaryBtnTextColor: $lightBlue-50,
    primaryBtnTextColorHover: $lightBlue-100,
    primaryBtnBgColorHover: $lightBlue-500,
    iconColorLight: $lightBlue-100,
    iconColorLightHover: $lightBlue-300,
    dropdownBgColor: $lightBlue-300,
    dropdownBgColorHover: $lightBlue-600,
    dropdownTextColor: $lightBlue-50,
    dropdownTextColorHover: $lightBlue-100,
    profileBgHover: $lightBlue-500,
    profileTextHover: $lightBlue-100,
    btnLightColor: $lightBlue-300,
    menuItemBgColorHover: $lightBlue-400,
    menuItemTextColorHover: $lightBlue-100,
    menuItemIconColorHover: $lightBlue-200,
    menuItemBgColorActive: $lightBlue-600,
    menuItemTextColorActive: $lightBlue-50,
    menuItemIconColorActive: $lightBlue-300,
    menuBadgeBgColor: $lightBlue-200,
    menuBadgeTextColor: $lightBlue-600,
  ),
  indigo: (
    primaryBtnBgColor: $indigo-600,
    primaryBtnTextColor: $indigo-50,
    primaryBtnTextColorHover: $indigo-100,
    primaryBtnBgColorHover: $indigo-500,
    iconColorLight: $indigo-100,
    iconColorLightHover: $indigo-300,
    dropdownBgColor: $indigo-300,
    dropdownBgColorHover: $indigo-600,
    dropdownTextColor: $indigo-50,
    dropdownTextColorHover: $indigo-100,
    profileBgHover: $indigo-500,
    profileTextHover: $indigo-100,
    btnLightColor: $indigo-300,
    menuItemBgColorHover: $indigo-400,
    menuItemTextColorHover: $indigo-100,
    menuItemIconColorHover: $indigo-200,
    menuItemBgColorActive: $indigo-600,
    menuItemTextColorActive: $indigo-50,
    menuItemIconColorActive: $indigo-300,
    menuBadgeBgColor: $indigo-200,
    menuBadgeTextColor: $indigo-600,
  ),
  violet: (
    primaryBtnBgColor: $violet-600,
    primaryBtnTextColor: $violet-50,
    primaryBtnTextColorHover: $violet-100,
    primaryBtnBgColorHover: $violet-500,
    iconColorLight: $violet-100,
    iconColorLightHover: $violet-300,
    dropdownBgColor: $violet-300,
    dropdownBgColorHover: $violet-600,
    dropdownTextColor: $violet-50,
    dropdownTextColorHover: $violet-100,
    profileBgHover: $violet-500,
    profileTextHover: $violet-100,
    btnLightColor: $violet-300,
    menuItemBgColorHover: $violet-400,
    menuItemTextColorHover: $violet-100,
    menuItemIconColorHover: $violet-200,
    menuItemBgColorActive: $violet-600,
    menuItemTextColorActive: $violet-50,
    menuItemIconColorActive: $violet-300,
    menuBadgeBgColor: $violet-200,
    menuBadgeTextColor: $violet-600,
  ),
  purple: (
    primaryBtnBgColor: $purple-600,
    primaryBtnTextColor: $purple-50,
    primaryBtnTextColorHover: $purple-100,
    primaryBtnBgColorHover: $purple-500,
    iconColorLight: $purple-100,
    iconColorLightHover: $purple-300,
    dropdownBgColor: $purple-300,
    dropdownBgColorHover: $purple-600,
    dropdownTextColor: $purple-50,
    dropdownTextColorHover: $purple-100,
    profileBgHover: $purple-500,
    profileTextHover: $purple-100,
    btnLightColor: $purple-300,
    menuItemBgColorHover: $purple-400,
    menuItemTextColorHover: $purple-100,
    menuItemIconColorHover: $purple-200,
    menuItemBgColorActive: $purple-600,
    menuItemTextColorActive: $purple-50,
    menuItemIconColorActive: $purple-300,
    menuBadgeBgColor: $purple-200,
    menuBadgeTextColor: $purple-600,
  ),
  fuchsia: (
    primaryBtnBgColor: $fuchsia-600,
    primaryBtnTextColor: $fuchsia-50,
    primaryBtnTextColorHover: $fuchsia-100,
    primaryBtnBgColorHover: $fuchsia-500,
    iconColorLight: $fuchsia-100,
    iconColorLightHover: $fuchsia-300,
    dropdownBgColor: $fuchsia-300,
    dropdownBgColorHover: $fuchsia-600,
    dropdownTextColor: $fuchsia-50,
    dropdownTextColorHover: $fuchsia-100,
    profileBgHover: $fuchsia-500,
    profileTextHover: $fuchsia-100,
    btnLightColor: $fuchsia-300,
    menuItemBgColorHover: $fuchsia-400,
    menuItemTextColorHover: $fuchsia-100,
    menuItemIconColorHover: $fuchsia-200,
    menuItemBgColorActive: $fuchsia-600,
    menuItemTextColorActive: $fuchsia-50,
    menuItemIconColorActive: $fuchsia-300,
    menuBadgeBgColor: $fuchsia-200,
    menuBadgeTextColor: $fuchsia-600,
  ),
  pink: (
    primaryBtnBgColor: $pink-600,
    primaryBtnTextColor: $pink-50,
    primaryBtnTextColorHover: $pink-100,
    primaryBtnBgColorHover: $pink-500,
    iconColorLight: $pink-100,
    iconColorLightHover: $pink-300,
    dropdownBgColor: $pink-300,
    dropdownBgColorHover: $pink-600,
    dropdownTextColor: $pink-50,
    dropdownTextColorHover: $pink-100,
    profileBgHover: $pink-500,
    profileTextHover: $pink-100,
    btnLightColor: $pink-300,
    menuItemBgColorHover: $pink-400,
    menuItemTextColorHover: $pink-100,
    menuItemIconColorHover: $pink-200,
    menuItemBgColorActive: $pink-600,
    menuItemTextColorActive: $pink-50,
    menuItemIconColorActive: $pink-300,
    menuBadgeBgColor: $pink-200,
    menuBadgeTextColor: $pink-600,
  ),
  rose: (
    primaryBtnBgColor: $rose-600,
    primaryBtnTextColor: $rose-50,
    primaryBtnTextColorHover: $rose-100,
    primaryBtnBgColorHover: $rose-500,
    iconColorLight: $rose-100,
    iconColorLightHover: $rose-300,
    dropdownBgColor: $rose-300,
    dropdownBgColorHover: $rose-600,
    dropdownTextColor: $rose-50,
    dropdownTextColorHover: $rose-100,
    profileBgHover: $rose-500,
    profileTextHover: $rose-100,
    btnLightColor: $rose-300,
    menuItemBgColorHover: $rose-400,
    menuItemTextColorHover: $rose-100,
    menuItemIconColorHover: $rose-200,
    menuItemBgColorActive: $rose-600,
    menuItemTextColorActive: $rose-50,
    menuItemIconColorActive: $rose-300,
    menuBadgeBgColor: $rose-200,
    menuBadgeTextColor: $rose-600,
  ),
);
