//COLORS

//background
$color-background-light:#E6E6E6;
$color-background-dark:#6B7280;
//end background

//text
$color-text-light:#6B7280;
$color-text-dark: #111827;
//end text

//link
$color-link-light:#2998ff;
$color-link-dark:#2563EB;
//end link
// icon
$color-sidebar-icon:#9CA3AF;

//onhover
$color-hover:#D1D5DB;
$color-check-badge: #3B82F6;

$color-warning: #B91C1C;

$border-input-lines: #D1D5DB;
$color-content-light:#F9FAFB;
$color-content-lines:#E5E7EB;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e0e0e0;
$color-grey-light-4: #afafaf;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$font-size-default: 14px;
$font-size-primary: 28px;
$font-size-secondary: 24px;
$font-size-tertiary: 12px;