//COLORS
$color-primary: #6b7280;
$color-primary-600: #4b5563;

//background
$color-background-light: #e6e6e6;
$color-background-dark: #6b7280;
$color-background-input: #f3f4f6;
//end background

//text
$color-text-light: #6b7280;
$color-text-dark: #111827;
//end text

//link
$color-link-light: #2998ff;
$color-link-dark: #2563eb;
//end link
// icon
$color-sidebar-icon: #9ca3af;

//onhover
$color-hover: #d1d5db;
$color-check-badge: #3b82f6;

$color-danger-dark: #b91c1c;
$color-danger-light: #fee2e2;
$color-danger-600: #dc2626;
$color-success-dark: #166534;
$color-success-600: #16a34a;
$color-success-light: #dcfce7;
$color-warning-light: #ffedd5;

$border-input-lines: #d1d5db;
$color-content-light: #f9fafb;
$color-content-lines: #e5e7eb;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e0e0e0;
$color-grey-light-4: #afafaf;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$font-size-default: 14px;
$font-size-default-tab: 16px;
$font-size-grid-view: 18px;
$font-size-primary: 28px;
$font-size-secondary: 24px;
$font-size-tertiary: 16px;
$font-size-quatenary: 12px;
