.pr {
  position: relative;
}
.txt-up {
  text-transform: uppercase;
}
.cl {
  color: $color-text-light;
}
.cd {
  color: $color-text-dark;
}
.fw-500 {
  font-weight: 500;
}
.lh-sm {
  line-height: 1.5rem;
}
.list {
  list-style: none;
  margin: 1.5rem 0;
}
.item {
  margin-bottom: 0.5rem;
}
.h-100 {
  height: 100%;
}
.h-70 {
  height: 70%;
}
.w-100 {
  width: 100%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-48 {
  width: 48% !important;
}
.w-40 {
  width: 50%;
}
.mb-25 {
  margin-bottom: 2.5rem;
}
.mt-15 {
  margin-top: 1.5rem;
}
.mt-25 {
  margin-top: 2.5rem;
}
.mtb-25 {
  margin: 2.5rem 0;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-15 {
  margin-bottom: 1.5rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mr-m {
  margin-right: 2rem;
}
.ml-s {
  margin-left: 0.5rem;
}
.ml-m {
  margin-left: 2rem;
}
.ml-xl {
  margin-left: 6rem;
}
.df {
  display: flex;
}
.fd-column {
  flex-direction: column;
}
.ai-c {
  align-items: center;
}
.ai-end {
  align-items: flex-end;
}
.jc-end {
  justify-content: flex-end;
}
.jc-sb {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
